body {
    color: #000000;
    font: 15px Georgia, Arial;
    line-height: 18px;
    margin: 54px 0 54px 0;
    min-width: 980px;
}

.container {
    margin: 0 auto 0 auto;
    width: 980px;
}

a {
    color: #176ea5;
    text-decoration: none;
}

a:link { }

a:hover { text-decoration: underline; }

a:visited, a:active { color: #a51756; }

h1, h2 {
    font-weight: normal;
    line-height: 54px;
    margin: 18px 0 0px 0;
}

h1 { font-size: 42px; }

h1 span {
    display: block;
    font-size: 13px;
    line-height: 18px;
}

h2 {
    font-size: 32px;
    margin-top: 18px;
}

ul { margin: 0px 0 18px 0; }

li { line-height: 24px; }